body {
    background-image: url(weather.jpg);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 40px;
    font-family: 'Cookie', cursive;
    
} 
.header  {
    
    color: white;
    font-style: normal;
    height: 50px;
    text-align: center;
    font-size: large;
    font-size: 130px;
    padding-bottom: 40px;
    font-family: 'Great Vibes', cursive;
}
.card-body {
    background-color: lightblue;
}

#current-day {
    font-size: 60px; 
}
.list-group {
    font-size: 25px;
    color: white;
    background-color: lightblue;
}