body {
    background-image: url(weather.jpg);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 40px;
    font-family: 'Cookie', cursive;
    
} 
.header  {
    
    color: white;
    font-style: normal;
    height: 50px;
    text-align: center;
    font-size: large;
    font-size: 120px;
    padding-bottom: 40px;
    font-family: 'Great Vibes', cursive;
}
.card-body {
    background-color: lightblue;
}

#current-day {
    font-size: 50px;
    color: lightblue; 
}

.location {
    font-size: 20px;
}

#city {
    font-size: 40px;
}


.list-group {
    font-size: 25px;
    color: white;
    background-color: lightblue;
}

p {
    font-size: 20px;
    color: white;

} 
.list-group-item {
    background-color: lightblue;
}

a {
    color: black;
}
a:hover {
    color: white;
}

#search-box {
    border-color:lightblue;
}

button {
    border-color: lightblue;
}